{% extends 'base.html' %}

<!-- Page Title -->
{% block title %} Members {% endblock %}

<!-- Page Style -->
{% block style %}
<style>
	thead {
		background-color: dimgray;
		color: white;
	}

	td, th {
		text-align: center;
	}

	.text-right {
		margin-bottom: 20px;
	}
</style>
{% endblock %}
	
{% block pagecontent %}
<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead class="thead-inverse">
			<tr>
				<th>SAIL SAFETY MEMBERS'</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Bhilai Steel Plant</td>
			</tr>
			<tr>
				<td>Durgapur Steel Plant</td>
			</tr>
			<tr>
				<td>Rourkela Steel Plant</td>
			</tr>
			<tr>
				<td>Bokaro Steel Limited</td>
			</tr>
			<tr>
				<td>IISCO Steel Plant</td>
			</tr>
			<tr>
				<td>Alloys Steel Plant</td>
			</tr>
			<tr>
				<td>Chandrapur Ferro Alloy Plant</td>
			</tr>
			<tr>
				<td>Salem Steel Plant</td>
			</tr>
			<tr>
				<td>Visvesvaraya Iron & Steel Limited</td>
			</tr>
			<tr>
				<td>Central Marketing Organisation</td>
			</tr>
			<tr>
				<td>Raw Material Division</td>
			</tr>
			<tr>
				<td>Collieries</td>
			</tr>
			<tr>
				<td>SAIL Refractory Unit</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}

