{% extends 'base.html' %} 

<!-- Page Title -->
{% block title %}Welcome {% endblock %} 

<!-- Page Style -->
{% block style %}
<style>
	h2 {
		text-align: center;
		text-decoration: underline;
		font-weight: bold;
		margin-bottom: 25px;
	}
	
	p {
		text-align: left;
	}
</style>
{% endblock %}

{% block pagecontent %}

<div>
{% if messages %}
<ul class="messages">
   {% for message in messages %}
	  <div class="alert alert-success {{ message.tags }} alert-dismissible fade in" role="alert">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>{{ message }}</strong>
	  </div>
	{% endfor %}
</ul>
{% endif %}
</div>

<div class="jumbotron">
    <h2>WECLOME TO SAIL SAFETY ORGANIZATION</h2>
	<p>
		SAIL Safety Organization (SSO), a Corporate Unit set up in 1988 at Ranchi, monitors and guides the safety Promotional, fire and Occupational Health Services activities undertaken at different steel Plants / Units / Mines / Stockyards. 
		To accomplish the above mentioned functions, SSO formulates and prepares appropriate safety policies, procedures, systems, action plans, guidelines etc. and follows up for their implementation and thereby helps in providing accident free work environment. 
		Consistent efforts are also being made by SSO for competence building in the area of safety management through HRD interventions covering heads of shops, line managers, safety personnel & trade union leaders.
		A multi-disciplinary safety Engineering Departments exists in each of the steel plants and mines to look after their safety needs. 
		The emphasis is now on Systematic Approach to safety Management, Occupational health and pollution control measures.
	</p>
</div>

{% endblock %}
