{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load django_tables2 %}

<!-- Page Title -->
{% block title %}Filter Records View {% endblock %}

<!-- Page Style -->
{% block style %}
<style>
	.accordion-toggle:after {
		font-family: 'FontAwesome';
		content: "\f068";     
		float: right;
	}
	
	.panel-heading.collapsed .accordion-toggle:after {
		/* symbol for "collapsed" panels */
	   content: "\f067"; 
	}
	
	.ui-autocomplete {
		max-height: 100px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
	}
	 
	.ui-autocomplete {
		height: 100px;
	}
	
	.btn-primary:hover, .btn-primary:focus {
		color: #ffffff;
	}

	#id_Date_0 {
		margin-right: 2px;
	}
	
	#id_Date_1 {
		margin-left: 5px;
	}
	
	#accordion {
		cursor: pointer;
	}

	h3 {
		text-align: center;
		font-weight: bold;
		margin-bottom: 15px;
	}
	
	hr { 
		display: block;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
		border-style: inset;
		border-width: 1px;
	}
</style>
{% endblock %}

<!-- Page Body -->
{% block pagecontent %}
<div class="panel panel-default" id="accordion">
	<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
		<h4 class="panel-title accordion-toggle">
			<i class="fa fa-filter" aria-hidden="true" style="font-size:20px; margin-right: 8px;"></i>
				Search Filters 
		</h4>
	</div>
	
	<div id="collapseOne" class="panel-collapse collapse">
		<div class="panel-body">
		
			<form method="get" name="myform">
				{% csrf_token %}								
				<div class="row">
					
					<div class="form-group col-sm-4 col-md-3">
					<label> Accident Type: </label>
					{% render_field filter.form.accd_type class="form-control" %}
					</div>
					
					<div class="form-group col-sm-4 col-md-3">
					<label>Employee Type: </label>
					{% render_field filter.form.emp_type class="form-control" %}
					</div>
					
					<div class="form-group col-sm-4 col-md-3">
					<label> Cause: </label>
					{% render_field filter.form.cause class="form-control" %}
					</div>
									
					<div class="form-group col-sm-4 col-md-3">
					<label> Shift: </label>
					{% render_field filter.form.shift class="form-control" %}
					</div>
					
					<div class="form-group col-sm-4 col-md-3">
					<label> Unit Name: </label>
					{% render_field filter.form.unit_name class="form-control" %}
					</div>
					
					<div class="form-group col-sm-4 col-md-3">
					<label> Department: </label>
					{% render_field filter.form.dept class="form-control" id="id_department" %}
					</div>
					
					<div class="form-group col-sm-6 col-md-6">
					<label> Date Range: </label>
						<div class="date-range form-inline">
							{% render_field filter.form.Date class="form-control" %}
						</div>
					</div>
										
				</div>
				
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-search" aria-hidden="true" style="font-size:20px; margin-right: 8px;"></i>
						Search Records
				</button>
			</form>
			
		</div>
	</div>
</div>

<hr/>
<h3>Accident Records</h3>
<hr/>

<div class="row">
	{% render_table table %}
</div>

{% endblock %}

<!-- Page Scripts -->
{% block scripts %} 
<!-- Daterangepicker UI -->
<script>
    $( function() {
        $('#id_Date_0, #id_Date_1').datepicker({
            changeMonth: true,
            changeYear: true,
        });
    });
</script>

<!-- Autocomplete Textfields -->
<script>
	$(function() {
		$("#id_unit_name").autocomplete({
			source: "/get_unitname/",
			minLength: 3,
			focus: function(event, ui) {
				// prevent autocomplete from updating the textbox
				event.preventDefault();
				// manually update the textbox
				$(this).val(ui.item.label);
			},
			select: function(event, ui) {
				// prevent autocomplete from updating the textbox
				event.preventDefault();
				// manually update the textbox and hidden field
				$(this).val(ui.item.label);
				$("#id_unit_name").val(ui.item.value);
			}
		});
	});
		
	$(function() {
		$("#id_department").autocomplete({
			source: "/get_department/",
			minLength: 3,
			focus: function(event, ui) {
				// prevent autocomplete from updating the textbox
				event.preventDefault();
				// manually update the textbox
				$(this).val(ui.item.label);
			},
			select: function(event, ui) {
				// prevent autocomplete from updating the textbox
				event.preventDefault();
				// manually update the textbox and hidden field
				$(this).val(ui.item.label);
				$("#id_department").val(ui.item.value);
			}
		});
	});
</script>

<!-- Accordion Open/Close -->
<script>
    $(document).ready(function() {
        
        $(".toggle-accordion").on("click", function() {
            var accordionId = $(this).attr("accordion-id"),
                numPanelOpen = $(accordionId + ' .collapse.in').length;
            
            $(this).toggleClass("active");

            if (numPanelOpen == 0) {
                openAllPanels(accordionId);
            } else {
                closeAllPanels(accordionId);
            }
        })

        openAllPanels = function(aId) {
            console.log("setAllPanelOpen");
            $(aId + ' .panel-collapse:not(".in")').collapse('show');
        }
        closeAllPanels = function(aId) {
            console.log("setAllPanelclose");
            $(aId + ' .panel-collapse.in').collapse('hide');
        }
                
    });
</script>
{% endblock %}